[submodule "blaked25519"]
	path = src/deps/zig-ed25519-blake2b
	url = git@github.com:cryptocode/zig-ed25519-blake2b.git
[submodule "src/deps/zig-clap"]
	path = src/deps/zig-clap
	url = git@github.com:Hejsil/zig-clap.git
